<div class="table-responsive table-large">
  <table class="table text-start mb-5">
    <tbody>
      <tr>
        <td class="px-1">
          <label class="form-label">Study</label>
          <select class="form-select">
            <option selected>Select one option</option>
            <option value="1">One</option>
          </select>
        </td>
        <td class="px-1">
          <label class="form-label">Site</label>
          <select class="form-select">
            <option selected>Select one option</option>
            <option value="1">One</option>
          </select>
        </td>
        <td class="px-1">
          <label class="form-label">Participant</label>
          <select class="form-select">
            <option selected>Select one option</option>
            <option value="1">One</option>
          </select>
        </td>
        <td class="px-1">
          <label class="form-label">Date start</label>
          <select class="form-select">
            <option selected>Select one option</option>
            <option value="1">One</option>
          </select>
        </td>
        <td class="px-1">
          <label class="form-label">Date end</label>
          <select class="form-select">
            <option selected>Select one option</option>
            <option value="1">One</option>
          </select>
        </td>
        <td class="px-1" align="center" valign="end">
          <button class="btn btn-success mt-3">Submit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive table-large">
  <table class="table mb-2">
    <thead>
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Gender</th>
        <th>Education</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Joining Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Achitect</td>
        <td>Male</td>
        <td>M.COM, P.H.D</td>
        <td>123 456 7890</td>
        <td>infogmail.com</td>
        <td>2011/04/20</td>
        <td>
          <button
            data-bs-toggle="modal"
            data-bs-target="#rescheduleVisit"
            type="button"
            class="btn btn-info px-2 me-2"
          >
            <i class="bi bi-pencil"></i>
          </button>
          <button
            data-bs-toggle="modal"
            data-bs-target="#cancelVisit"
            type="button"
            class="btn btn-danger px-2"
          >
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>John</td>
        <td>Achitect</td>
        <td>Male</td>
        <td>M.COM, P.H.D</td>
        <td>123 456 7890</td>
        <td>infogmail.com</td>
        <td>2011/04/20</td>
        <td>
          <button type="button" class="btn btn-info px-2 me-2">
            <i class="bi bi-pencil"></i>
          </button>
          <button type="button" class="btn btn-danger px-2">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>John</td>
        <td>Achitect</td>
        <td>Male</td>
        <td>M.COM, P.H.D</td>
        <td>123 456 7890</td>
        <td>infogmail.com</td>
        <td>2011/04/20</td>
        <td>
          <button type="button" class="btn btn-info px-2 me-2">
            <i class="bi bi-pencil"></i>
          </button>
          <button type="button" class="btn btn-danger px-2">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>John</td>
        <td>Achitect</td>
        <td>Male</td>
        <td>M.COM, P.H.D</td>
        <td>123 456 7890</td>
        <td>infogmail.com</td>
        <td>2011/04/20</td>
        <td>
          <button type="button" class="btn btn-info px-2 me-2">
            <i class="bi bi-pencil"></i>
          </button>
          <button type="button" class="btn btn-danger px-2">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>John</td>
        <td>Achitect</td>
        <td>Male</td>
        <td>M.COM, P.H.D</td>
        <td>123 456 7890</td>
        <td>infogmail.com</td>
        <td>2011/04/20</td>
        <td>
          <button type="button" class="btn btn-info px-2 me-2">
            <i class="bi bi-pencil"></i>
          </button>
          <button type="button" class="btn btn-danger px-2">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>John</td>
        <td>Achitect</td>
        <td>Male</td>
        <td>M.COM, P.H.D</td>
        <td>123 456 7890</td>
        <td>infogmail.com</td>
        <td>2011/04/20</td>
        <td>
          <button type="button" class="btn btn-info px-2 me-2">
            <i class="bi bi-pencil"></i>
          </button>
          <button type="button" class="btn btn-danger px-2">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row align-items-center mt-4">
  <div class="col-sm-4">
    <p class="text-center text-sm-start mb-3 mb-sm-0">2 entries</p>
  </div>
  <div class="col-sm-8">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center justify-content-sm-end">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- Cancel Visit -->
<div
  class="modal fade"
  id="cancelVisit"
  tabindex="-1"
  aria-labelledby="cancelVisitLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cancelVisitLabel">
          <i class="bi bi-exclamation-triangle me-1"></i> Cancel Visit
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="bi bi-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <p>
          You are about to cancel a scheduled visit. The visit will be removed.
          This action cannot be undone. Are you sure you want to proceed?
        </p>

        <div class="d-flex justify-content-end gap-2 mt-5">
          <button type="button" class="btn btn-danger">Yes, cancel</button>
          <button
            type="button"
            class="btn btn-outline-secondary"
            data-bs-dismiss="modal"
          >
            No, Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Reschedule visit with John Doe -->
<div
  class="modal fade"
  id="rescheduleVisit"
  tabindex="-1"
  aria-labelledby="rescheduleVisitLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="rescheduleVisitLabel">
          Reschedule visit with John Doe
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="bi bi-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group mb-2">
            <label class="form-label">Date</label>
            <input type="date" class="form-control" />
          </div>
          <div class="form-group mb-2">
            <label class="form-label">Study</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group mb-2">
            <label class="form-label">Site</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group mb-2">
            <label class="form-label">Participant</label>
            <input type="text" class="form-control" />
          </div>
        </form>

        <div
          class="d-flex justify-content-between align-items-center gap-2 mt-5"
        >
          <a href="#" class="text-danger"
            ><i class="bi bi-x-circle"></i> Cancel Visit</a
          >
          <span>
            <button type="button" class="btn btn-success px-3 me-2">
              Re-schedule
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
