<h5 class="mt-2 mb-0">Study Information</h5>

<hr class="mt-2 mb-4" />

<div class="row mb-4">
  <div class="col-md-6">
    <p><span class="fw-medium">Study:</span> Demo study name (UH-MON)</p>
    <p><span class="fw-medium">Start date:</span> Mon 25 March 2024</p>
    <p><span class="fw-medium">Participant ID:</span> UH-MON-001</p>
  </div>
  <div class="col-md-6">
    <p><span class="fw-medium">Study site:</span> Demo study site name</p>
    <p><span class="fw-medium">Expected end date:</span> Thu 21 May 2024</p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-6">
    <h5 class="mb-0">Personal Information</h5>
    <hr class="mt-2 mb-4" />

    <p><span class="fw-medium">First name:</span> Rich</p>
    <p><span class="fw-medium">Surname:</span> Andrews</p>
    <p><span class="fw-medium">Date of birth:</span> 21 March 2009</p>
    <p><span class="fw-medium">Telephone number:</span> +34 670 30 72 87</p>
    <p><span class="fw-medium">NHS number:</span> 1234-123456</p>
  </div>
  <div class="col-md-6">
    <h5 class="mb-0">Personal Information (Parent/Carer)</h5>
    <hr class="mt-2 mb-4" />
    <p><span class="fw-medium">First name:</span> Rich</p>
    <p><span class="fw-medium">Surname:</span> Santos</p>
    <p><span class="fw-medium">Date of birth:</span> 25 November 1984</p>
    <p><span class="fw-medium">Telephone number:</span> +34 670 30 72 87</p>
  </div>
</div>

<h5 class="mt-4 mb-0">Patient Information</h5>
<hr class="mt-2 mb-4" />
<div class="row mb-3">
  <div class="col-md-6">
    <p><span class="fw-medium">Height (cm.):</span> Jose</p>
    <p><span class="fw-medium">ED diagnosis:</span> Demo disease name</p>
  </div>
  <div class="col-md-6">
    <p>
      <span class="fw-medium">Co-morbidities:</span> Comorbidity 1, Comorbidity
      2, Comorbidity 3
    </p>
  </div>
</div>
