<div class="row align-items-center mb-3 pt-3">
  <div class="col-md-5 col-xl-4">
    <ul class="measure-list">
      <li>
        <label class="form-label">Scales</label>
        <p class="text-gray"><i class="bi bi-x"></i> Pending</p>
      </li>
      <li>
        <label class="form-label">Single Question Anxiety Scale</label>
        <p class="text-gray"><i class="bi bi-x"></i> Pending</p>
      </li>
      <li>
        <label class="form-label">Single Question Mood Scale</label>
        <p class="text-green"><i class="bi bi-check"></i> Completed</p>
      </li>
      <li>
        <label class="form-label"
          >Generalized Anxiety Disorder Scale (GAD-7)</label
        >
        <p class="text-green"><i class="bi bi-check"></i> Completed</p>
      </li>
      <li>
        <label class="form-label">Patient Health Questionnaire (PHQ-9)</label>
        <p class="text-green"><i class="bi bi-check"></i> Completed</p>
      </li>
      <li>
        <label class="form-label">Facial analysis</label>
        <p class="text-green"><i class="bi bi-check"></i> Completed</p>
      </li>
      <li>
        <label class="form-label">Video diary</label>
        <p class="text-green"><i class="bi bi-check"></i> Completed</p>
      </li>
      <li>
        <label class="form-label">Fingertip recording</label>
        <p class="text-green"><i class="bi bi-check"></i> Completed</p>
      </li>
      <li>
        <label class="form-label">Photo reactions</label>
        <p class="text-gray"><i class="bi bi-x"></i> Pending</p>
      </li>
      <li>
        <label class="form-label">SUSS test (Sit Up)</label>
        <p class="text-gray"><i class="bi bi-x"></i> Pending</p>
      </li>
      <li>
        <label class="form-label">SUSS test (Sit Up)</label>
        <p><i class="bi bi-check"></i> Completed</p>
      </li>
      <li>
        <label class="form-label">SUSS test (Squat Stand)s</label>
        <p class="text-gray"><i class="bi bi-x"></i> Pending</p>
      </li>
    </ul>
  </div>
</div>
