<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Studies</a></li>
    <li class="breadcrumb-item active" aria-current="page">Study List</li>
  </ol>
</nav>

<div class="card">
  <h4 class="card-header">Study List</h4>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered mb-2">
        <thead>
          <tr>
            <th>Study Name</th>
            <th>Created On</th>
            <th>Status</th>
            <th>Recruitment Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Study demo name 1...</td>
            <td>08/02/2024</td>
            <td><span class="badge text-bg-info">On-going</span></td>
            <td>56 / 100</td>
            <td>
              <a
                routerLink="/study-overview"
                class="btn btn-outline-success px-3"
              >
                View details
              </a>
            </td>
          </tr>
          <tr>
            <td>Study demo name 2...</td>
            <td>25/11/2023</td>
            <td><span class="badge text-bg-success">Complete</span></td>
            <td>150 / 150</td>
            <td>
              <a
                routerLink="/study-overview"
                class="btn btn-outline-success px-3"
              >
                View details
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
