<div class="row align-items-center mb-3 pt-3">
  <div class="col-md-2">
    <label class="form-label">Current weight (kg)</label>
  </div>
  <div class="col-md-2">
    <input type="email" class="form-control" />
  </div>
  <div class="col-md-8">
    <div class="form-check form-switch d-flex justify-content-end gap-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="report"
      />
      <label class="form-check-label" for="report">Report alert</label>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-2">
    <label class="form-label">Heart rate #1</label>
  </div>
  <div class="col-md-2">
    <input type="email" class="form-control" />
  </div>
  <div class="col-md-3">
    <select class="form-select">
      <option selected>Selecr device used</option>
      <option value="1">One</option>
    </select>
  </div>
  <div class="col-md-3">
    <textarea
      class="form-control"
      placeholder="Loren ipsum donor ets...."
      rows="2"
    ></textarea>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-md-2">
    <label class="form-label">Heart rate #2</label>
  </div>
  <div class="col-md-2">
    <input type="email" class="form-control" />
  </div>
  <div class="col-md-3">
    <select class="form-select">
      <option selected>Selecr device used</option>
      <option value="1">One</option>
    </select>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-md-2">
    <label class="form-label">Heart rate variability</label>
  </div>
  <div class="col-md-2">
    <input type="email" class="form-control" />
  </div>
  <div class="col-md-3">
    <select class="form-select">
      <option selected>Selecr device used</option>
      <option value="1">One</option>
    </select>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-md-2">
    <label class="form-label">Blood oxygenation level #1</label>
  </div>
  <div class="col-md-2">
    <input type="email" class="form-control" />
  </div>
  <div class="col-md-3">
    <select class="form-select">
      <option selected>Selecr device used</option>
      <option value="1">One</option>
    </select>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-md-2">
    <label class="form-label">Blood oxygenation level #2</label>
  </div>
  <div class="col-md-2">
    <input type="email" class="form-control" />
  </div>
  <div class="col-md-3">
    <select class="form-select">
      <option selected>Selecr device used</option>
      <option value="1">One</option>
    </select>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-md-2">
    <label class="form-label">Breathing rate #1</label>
  </div>
  <div class="col-md-2">
    <input type="email" class="form-control" />
  </div>
  <div class="col-md-3">
    <select class="form-select">
      <option selected>Selecr device used</option>
      <option value="1">One</option>
    </select>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-md-2">
    <label class="form-label">Breathing rate #2</label>
  </div>
  <div class="col-md-2">
    <input type="email" class="form-control" />
  </div>
  <div class="col-md-3">
    <select class="form-select">
      <option selected>Selecr device used</option>
      <option value="1">One</option>
    </select>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-md-2">
    <label class="form-label">Temperature</label>
  </div>
  <div class="col-md-2">
    <input type="email" class="form-control" />
  </div>
  <div class="col-md-3">
    <select class="form-select">
      <option selected>Selecr device used</option>
      <option value="1">One</option>
    </select>
  </div>
  <div class="col-md-3">
    <select class="form-select">
      <option selected>Select site (Ear, Mouth, Armpit)</option>
      <option value="1">One</option>
    </select>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-md-2">
    <label class="form-label">Blood test (Electrolyte balance)</label>
  </div>
  <div class="col-md-2">
    <input type="email" class="form-control" />
  </div>
  <div class="col-md-3">
    <select class="form-select">
      <option selected>Selecr device used</option>
      <option value="1">One</option>
    </select>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-md-2">
    <label class="form-label">ECG</label>
  </div>
  <div class="col-md-2">
    <input type="email" class="form-control" />
  </div>
  <div class="col-md-3">
    <select class="form-select">
      <option selected>Selecr device used</option>
      <option value="1">One</option>
    </select>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-md-2">
    <label class="form-label">SUSS test (Sit Up)</label>
  </div>
  <div class="col-md-2">
    <input type="email" class="form-control" />
  </div>
  <div class="col-md-3">
    <select class="form-select">
      <option selected>Selecr device used</option>
      <option value="1">One</option>
    </select>
  </div>
</div>

<div class="row align-items-center mb-3">
  <div class="col-md-2">
    <label class="form-label">SUSS test (Squat Stand)</label>
  </div>
  <div class="col-md-2">
    <input type="email" class="form-control" />
  </div>
  <div class="col-md-3"></div>
</div>

<div class="text-end mt-4">
  <button class="btn btn-success me-3">Save</button>

  <button class="btn btn-outline-success">Save and close</button>
</div>
