<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Sites</a></li>
    <li class="breadcrumb-item active" aria-current="page">List</li>
  </ol>
</nav>

<div class="card">
  <h4 class="card-header">Site List</h4>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered mb-2">
        <thead>
          <tr>
            <th>Site Name</th>
            <th>Study short code</th>
            <th>Participant Recruited</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Study demo name 1...</td>
            <td>UH-MON</td>
            <td>25</td>
            <td>
              <a
                routerLink="/site-overview"
                class="btn btn-outline-success px-3"
              >
                View details
              </a>
            </td>
          </tr>
          <tr>
            <td>Study demo name 2...</td>
            <td>UH-MON</td>
            <td>60</td>
            <td>
              <a
                routerLink="/site-overview"
                class="btn btn-outline-success px-3"
              >
                View details
              </a>
            </td>
          </tr>
          <tr>
            <td>Study demo name 3...</td>
            <td>UH-MON UH-TRT</td>
            <td>0</td>
            <td>
              <a
                routerLink="/site-overview"
                class="btn btn-outline-success px-3"
              >
                View details
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
