<div class="d-flex justify-content-between align-items-center mt-2">
  <h5 class="mb-0">Data Collection Settings</h5>
  <a
    href="#"
    tooltipClass="custom-tooltip"
    ngbTooltip="Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  Lorem Ipsum has been the industry's standard dummy"
  >
    <i class="bi bi-info-circle"></i>
  </a>
</div>

<hr class="mt-2 mb-4" />

<div class="row">
  <div class="col-md-4">
    <h6 class="text-success mb-3">On-site measurements</h6>
    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="weight"
      />
      <label class="form-check-label" for="weight">Weight</label>
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="height"
      />
      <label class="form-check-label" for="height">Height</label>
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="heart_rate"
      />
      <label class="form-check-label" for="heart_rate">Heart rate **</label>
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="variabilty"
      />
      <label class="form-check-label" for="variabilty"
        >Heart rate variabilty</label
      >
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="blood_pressure"
      />
      <label class="form-check-label" for="blood_pressure"
        >Blood pressure **</label
      >
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="oxygenation"
      />
      <label class="form-check-label" for="oxygenation"
        >Blood oxygenation level **</label
      >
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="breathing_rate"
      />
      <label class="form-check-label" for="breathing_rate"
        >Breathing rate **</label
      >
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="temperature"
      />
      <label class="form-check-label" for="temperature">Temperature **</label>
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="blood_test"
      />
      <label class="form-check-label" for="blood_test"
        >Blood test (Electrolyte balance)</label
      >
    </div>

    <div class="form-check form-switch mb-2">
      <input class="form-check-input" type="checkbox" role="switch" id="ech" />
      <label class="form-check-label" for="ech">ECH **</label>
    </div>

    <div class="form-check form-switch mb-2">
      <input class="form-check-input" type="checkbox" role="switch" id="suss" />
      <label class="form-check-label" for="suss"
        >Squat to stand test (SUSS test)</label
      >
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="glands"
      />
      <label class="form-check-label" for="glands"
        >Parotid glands (yes/no + change in size)</label
      >
    </div>
  </div>

  <div class="col-md-4">
    <h6 class="text-success mt-4 mt-md-0 mb-3">In-app scales/surveys</h6>
    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="weight"
      />
      <label class="form-check-label" for="weight"
        >Anxiety single question</label
      >
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="mood_single"
      />
      <label class="form-check-label" for="mood_single"
        >Mood single question</label
      >
    </div>

    <div class="form-check form-switch mb-2">
      <input class="form-check-input" type="checkbox" role="switch" id="gad" />
      <label class="form-check-label" for="gad">GAD-7 scale</label>
    </div>

    <div class="form-check form-switch mb-2">
      <input class="form-check-input" type="checkbox" role="switch" id="phq" />
      <label class="form-check-label" for="phq">PHQ-9 scale</label>
    </div>

    <h6 class="text-success mt-4 pt-1 mb-3">In-app digital measurements</h6>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="facial"
      />
      <label class="form-check-label" for="facial">Facial analysis</label>
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="fingertip"
      />
      <label class="form-check-label" for="fingertip">Fingertip analysis</label>
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="video"
      />
      <label class="form-check-label" for="video">Video diary</label>
    </div>

    <h6 class="text-success mt-4 mb-2">Video diary topics</h6>

    <div class="row">
      <div class="col-sm-7 col-md-8">
        <div class="form-group mb-3">
          <select class="form-select">
            <option selected>Select topic</option>
            <option value="1">Question 1</option>
            <option value="1">Question 2</option>
            <option value="1">Question 3</option>
            <option value="1">Question 4</option>
          </select>
        </div>
      </div>
      <div class="col-sm-5 col-md-4">
        <div class="form-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Duration in secs"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h6 class="text-success mt-4 mt-md-0 mb-3">Wearable integration</h6>
    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="FitBit"
      />
      <label class="form-check-label" for="FitBit">FitBit</label>
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="apple_health"
      />
      <label class="form-check-label" for="apple_health">Apple Health</label>
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="google_fit"
      />
      <label class="form-check-label" for="google_fit">Google Fit</label>
    </div>
  </div>
</div>
