<h5 class="mt-2 mb-0">Patient Profile</h5>
<hr class="mt-2 mb-4" />

<div class="row">
  <div class="col-md-6">
    <div class="form-group mb-3">
      <label class="form-label">Height (cm).</label>
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group mb-3">
      <label class="form-label">Current weight (kg.)</label>
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group mb-3">
      <label class="form-label">ED Diagnosis</label>
      <select class="form-select">
        <option selected>Select one option</option>
        <option value="1">One</option>
        <option value="2">Two</option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group mb-3">
      <label class="form-label">Co-morbidities</label>
      <select class="form-select">
        <option selected>Select one or multiple options</option>
        <option value="1">One</option>
        <option value="2">Two</option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group mb-3">
      <label class="form-label">Type</label>
      <select class="form-select">
        <option selected>Select one or multiple options</option>
        <option value="1">Impatient / Outpatient</option>
      </select>
    </div>
  </div>
</div>
